<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TheDatingStartup</title>
    <meta name="description" content="TheDatingStartup - A chronicle of my dating life run like a startup">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" href="/static/site.css" media="all"/>

    <style type="text/css">
        #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
            width: 100%;
        }

        #mc_embed_signup .button {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            font-size:20px;
            padding:10px 20px;
            height:52px;
        }

        #mc_embed_signup input.email {
            height:52px;
            outline:0;
            border:0;
            border-bottom:2px #888 dashed;
            text-align:center;
            font-size:20px;
        }
    </style>

</head>
<body>
<section class="background-blue">
    {% include "_nav.html" %}
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>The Dating Startup</h1>
            <h2 class="">My dating life, run like a tech startup.</h2>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-lg btn-outline btn-inverse" href="#">Download the Presentation</a>
    </div>
</section>
<section class="background-sketch">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <h2>What is TheDatingStartup <span>exactly</span>?</h2>
            <p>
                &ldquo;What if I ran my dating life like a startup?&rdquo;
            </p>
            <p>
                At first, it seems outlandish, maybe even absurd. But when I actually started to kick the idea around,
                absurdity turned to intrigue. What if I put the same effort and careful planning into my dating life
                that I put every day into running our company? Well then, it stands to reason that I can improve it with
                the same primary tools and strategy. <a href="#">Read More ...</a>
            </p>
        </div>
    </div>
</section>
<section class="background-light-blue padded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <h3 class="text-center"><i class="fa fa-arrows"></i> Multi-Channel</h3>
                <p>
                    Instead of pursuing a single approach, we intend to allocate efforts to a variety of
                    mediums until there is enough data to determine the most effective.
                </p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <h3 class="text-center"><i class="fa fa-bullhorn"></i> Feedback</h3>
                <p>
                    Our operating model entails developing a specific action plan for each aspect of dating, then
                    refining it using rigorous testing and feedback.
                </p>
            </div>
        </div>
        <div class="hidden-sm hidden-xs">
            <br/>
            <br/>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <h3 class="text-center"><i class="fa fa-bar-chart"></i> Data</h3>
                <p>
                    It is not exactly 'big data', but can we improve the process by collecting and analyzing data and
                    to make better informed dating decisions? Yes we can.
                </p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <h3 class="text-center"><i class="fa fa-search"></i> Transparency</h3>
                <p>
                    We will protect individual privacy, but be transparent about all normal metrics,
                    such as CAC, Burn Rate, and Churn as well as few new ones.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="padded background-battleship inverted">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>First Date Reviews</h1>
                <hr/>
                <h2 class="gold">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </h2>
                <h4>
                    &ldquo;He held the door for me, opened the car door and refused to let me pay.&rdquo;
                </h4>
            </div>
        </div>
        <div class="hidden-sm hidden-xs">
            <br/>
            <br/>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h2 class="gold">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </h2>
                <h4>&ldquo;He was very engaging and totally into me. Our date lasted 5
                    hours.&rdquo;</h4>
            </div>
            <div class="col-md-4">
                <h2 class="gold">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </h2>
                <h4>&ldquo;A perfect gentleman.&rdquo;</h4>
            </div>
            <div class="col-md-4">
                <h2 class="gold">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </h2>
                <h4>&ldquo;It didn't work out, but I had a great time.&rdquo;</h4>
            </div>
        </div>
        <div class="hidden-sm hidden-xs">
            <br/>
            <br/>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-md-offset-2">
                <h2 class="gold">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </h2>
                <h4>&ldquo;He was very engaging and totally into me. Our date lasted 5
                    hours.&rdquo;</h4>
            </div>
            <div class="col-md-4">
                <h2 class="gold">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </h2>
                <h4>&ldquo;I never thought holding hands could be so intimate and sexy.&rdquo;</h4>
            </div>
        </div>
    </div>
</section>
<section class="background-texture">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h1 class="">Latest Posts</h1>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5><i class="fa fa-medium"></i></h5>
                        <a href="#">Introducing TheDatingStartup.com</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5><i class="fa fa-medium"></i></h5>
                        <a href="#">Introducing TheDatingStartup.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h1 class="">Updates</h1>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="media-heading">TheDatingStartup begins work on analytics platform</h4>
                        <p>
                            TheDatingStartup (TDS) has begun developing the platform to track and analyze
                            data from dates to make informed decisions.
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="media-heading">TheDatingStartup closes Angel round</h4>
                        <p>
                            TheDatingStartup (TDS) it's closed an Angel funding round and has launched!
                            TDS raised the round from friends and family and
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default padded">
                    <h3 class="text-center">Sign up for updates</h3>
                    <div class="panel-body">
                        <div id="mc_embed_signup">
                            <form action="//thedatingstartup.us15.list-manage.com/subscribe/post?u=31b386559483ae6d7b2843e81&amp;id=f9e7c7dabd"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">

                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                                           placeholder="ahamilton@treasury.gov" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text"
                                            name="b_31b386559483ae6d7b2843e81_f9e7c7dabd"
                                            tabindex="-1"
                                            value="">
                                    </div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                                              id="mc-embedded-subscribe" class="button"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sketch-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-5x fa-money"></i>
                    </div>
                    <div class="col-md-9">
                        <h3>Introducing the referral program</h3>
                        <p>Do you know someone you think would be a good fit for Adam?</p>
                        <p>
                            Make sure your submission meets the required criteria and submit her!
                            If they go out, you will get a $10 Starbucks Gift Card.
                        </p>
                        <a href="#" class="btn btn-primary">Submit a date</a>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-5x fa-thumbs-up"></i>
                    </div>
                    <div class="col-md-9">
                        <h3>Dates aren't free, but you can help</h3>
                        <h5>Sponsorship opportunities start at just $10.</h5>
                        <p>Click below to learn more about what a sponsor receives.</p>
                        <a href="#" class="btn btn-info">Sponsor a date</a>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-5x fa-question"></i>
                    </div>
                    <div class="col-md-9">
                        <h3>Ask a question</h3>
                        <h5>Curious about what we're doing?  Ask us!</h5>
                        <a href="#" class="btn btn-default">Ask us a question</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">

            </div>
            <div class="col-md-6">
                <div>

                </div>
                <div>


                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>The Dating Startup</h1>
                <p>&copy 2017, All rights reserved</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>